#logo{
    width: 10%
}

body{
    background-color: black;
    color: #ffffff;
    overflow-x: hidden;
    width: 100%;

}

main{
    background-color: #335787;
}

.servicos{
    margin-left: 25%;
    background-color: rgb(150, 150, 150);
    padding: 20px;
    width: 50%;
}

.servicos ul{
    list-style: disc;
    font-size: 130%;
}